{{ define "NS" -}}
apiVersion: v1
kind: Namespace
metadata:
  name: kubeflex-system
{{ end -}}
{{ if ne .Release.Namespace "kubeflex-system" -}}
  {{ with $kfns := (lookup "v1" "Namespace" "" "kubeflex-system") -}}
    {{ if eq $.Release.Name
             (index $kfns.ObjectMeta.Annotations "meta.helm.sh/release-name") -}}
      {{ template "NS" -}}
    {{ end -}}
  {{ else -}}
    {{ template "NS" -}}
  {{ end -}}
{{end -}}
