name: DCO-check
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: DCO 
    runs-on: ubuntu-latest
    # This 'if' condition will only run the job if the actor is not dependabot[bot]
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Check DCO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip3 install -U dco-check
          dco-check