name: DCO-check
on:
  pull_request:
  push:
    branches:
      - main
      - "release-*"
jobs:
  check:
    name: DCO 
    runs-on: ubuntu-latest
    # This 'if' condition will only run the job if the actor is not dependabot[bot]
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Python 3.x
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.x'
      - name: Check DCO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip3 install -U dco-check
          dco-check
