name: goreleaser

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  OPERATOR_IMAGE: kubestellar/kubeflex/manager
  IMAGE_NAME: ${{ github.repository }}/chart
  CHART_PATH: ./chart

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0

    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
      with:
        go-version: v1.24

    - name: Delete non-semver tags
      run: 'git tag -d $(git tag -l | grep -v "^v")'

    - name: Set LDFLAGS
      run: echo LDFLAGS="$(make ldflags)" >> $GITHUB_ENV

    - name: Run GoReleaser on tag
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
      with:
        distribution: goreleaser
        version: 2
        args: release --timeout 60m --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        KO_TOKEN: ${{ secrets.TOKEN }}
        USER: ${{ github.actor }}
        EMAIL: ${{ github.actor}}@users.noreply.github.com

    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Package and push chart
      run: |
        make chart IMG=${{ env.REGISTRY }}/${{ env.OPERATOR_IMAGE }}:${{github.ref_name}}
        helm package ${{ env.CHART_PATH }} --destination . --version ${{github.ref_name}} --app-version ${{github.ref_name}} --dependency-update
        helm push ./*.tgz oci://${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Trigger docs version branch
      uses: peter-evans/repository-dispatch@v3
      with:
        token: ${{ secrets.WORKFLOW_SYNC_TOKEN }}
        repository: kubestellar/docs
        event-type: create-version-branch
        client-payload: |
          {
            "project": "kubeflex",
            "version": "${{ github.ref_name }}",
            "source_repo": "${{ github.repository }}",
            "source_branch": "main"
          }

