name: E2E test

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - "lxf/**"
  push:
    branches:
      - main
      - "lxf/**"
    tags:
      - 'v*'

jobs:
  test-controlplane-lifecycle-management:
    name: Test ControlPlane lifecycle management
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: v1.23
          cache: true

      - uses: ko-build/setup-ko@v0.9    

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        id: install

      - name: Run test
        run: |
          test/e2e/run.sh

      - name: Examine GitHub rate limit
        run: curl https://api.github.com/rate_limit

      - name: Show kubeconfig contexts
        if: always()
        run: kubectl config get-contexts

      - name: Show running components of KubeFlex
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system get all

      - name: Show logs of the KubeFlex controller manager
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs deploy/kubeflex-controller-manager

      - name: Show logs of the shared Postgres DB
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs sts/postgres-postgresql

      - name: Show logs of the KubeFlex operator
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs job/kubeflex-operator
