name: E2E test

on:
  workflow_call:
   inputs:
    release:
      description: 'Kubeflex release to test (e.g. latest or v0.5.1)'
      required: false
      type: string
  workflow_dispatch:
   inputs:
    release:
      description: 'Kubeflex release to test (e.g. latest or v0.5.1)'
      required: false
      type: string
  pull_request:
    branches:
      - main
      - "lxf/**"
  push:
    branches:
      - main
      - "lxf/**"
    tags:
      - "v*"

jobs:
  test-controlplane-lifecycle-management:
    name: Test ControlPlane lifecycle management
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: v1.24.5
          cache: true

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - name: Run test
        run: |
          if [ -n "${{ inputs.release }}" ]; then
             test/e2e/run.sh --release ${{ inputs.release }}
          else
             test/e2e/run.sh
          fi    
      - name: Examine GitHub rate limit
        run: curl https://api.github.com/rate_limit

      - name: Show kubeconfig contexts
        if: always()
        run: kubectl config get-contexts

      - name: Show running components of KubeFlex
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system get all

      - name: Show logs of the KubeFlex controller manager
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs deploy/kubeflex-controller-manager

      - name: Show logs of the shared Postgres DB
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs sts/postgres-postgresql

      - name: Show logs of the KubeFlex operator
        if: always()
        run: kubectl --context kind-kubeflex -n kubeflex-system logs job/kubeflex-operator
